#ios-message {
  display: block;
  padding-top: 15px;
}

.form-control {
  width: 100%;
}

.btn-random-container {
  padding-top: 7px;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer {
  font-size: 12px;
  padding: 20px 15px 15px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

.hidden {
  display: none;
}

/* for the samples page */
.row-indicator {
  font-weight: bold;
  text-align: center;
}

canvas, canvas-overlay {
  display: block;
}
canvas-overlay {
  background-color: black;
  opacity: 1;
  will-change: opacity;
  transition: 2s opacity;
  z-index: 1;
}
canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
