a.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

/* for the samples page */
.row-indicator {
  font-weight: bold;
  text-align: center;
}

canvas,
canvas-overlay {
  display: block;
}
canvas-overlay {
  background-color: black;
  opacity: 1;
  will-change: opacity;
  transition: 2s opacity;
  z-index: 1;
}
canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
